.green-hero {
	background-color: #2ecc71;
}

.blue-hero {
	background-color: #3498db;
}

.red-hero {
	background-color: #e74c3c;
}

.yellow-hero {
	background-color: #f1c40f;
}

.purple-hero {
	background-color: #9b59b6;
}

.turqoise-hero {
	background-color: #1abc9c;
}

.list-main {
	margin-top: 0px !important;
}

.list-metric {
	font-size: 40px;
}