.drink-name {
	font-size: 18px;
}

.drink-price {
	font-size: 20px;
}

.drink-quantity {
	font-size: 18px;
}

.asphalt-bg {
	background-color: #34495e;
}

.midnight-bg {
	background-color: #2c3e50;
}

.drink-row {
	color: #eee;
	padding: 5px;
}