div(ng-include='"components/navbar/navbar.html"')

.content-wrapper(class="{{activeQuest ? 'active' : ''}}")

  //- show if not logged in
  header#banner.hero-unit(ng-hide="loggedIn")
    .container
      h1 Quests
      p.lead Quantified nights out
      img(src='assets/images/swords.png', alt='I\'m Yeoman')
      br
      a.btn.btn-lg.begin-quest(href="#") Sign Up

  header#banner.hero-unit.yellow-hero(ng-show="!activeQuest && loggedIn")
    .container
      h2 Quest History
      h1.pace 1.8
        span units/hr
      h4 average pace
    .row
      .col-xs-4
        h3.row {{5}}
        .row quests
      .col-xs-4
        h3.row {{128 | currency : '£'}}
        .row.units total spend
      .col-xs-4
        h3.row {{41}}
        .row.units units consumed

  header#banner.hero-unit.green-hero(ng-show="activeQuest && loggedIn")
    .container
      h2 Tonight's Quest
      h1.pace {{pace}}
        span units/hr
      h4 tonight's pace
    .row
      .col-xs-4
        h3.row.unit-number {{timeElapsed}}
        .row.units time elapsed (mins)
      .col-xs-4
        h3.row.unit-number {{moneySpent | currency : '£'}}
        .row.units current spend
      .col-xs-4
        h3.row.unit-number {{(unitsConsumed || 3.2)}}
        .row.units units consumed

  a#banner.hero-unit.red-hero.sticky-bottom(ng-show="activeQuest && loggedIn", ng-href="timeline")
    b Drink Timeline
