div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Quests
    p.lead Quantified nights out
    img(src='assets/images/swords.png', alt='I\'m Yeoman')
    br
    a.btn.btn-lg.begin-quest(href="#") Begin Quest

.container
  .row
    .col-lg-12
      h1.page-header Features:
