div(ng-include='"components/navbar/navbar.html"')

.col-md-12.pay-code-wrapper(ng-show="payCodeVisible")
  img.pay-code(src="assets/images/qr-code.png")

div(ng-hide="missingIdError", style="margin-top: -20px;")
  header.bill-item.hero-unit(ng-repeat="drink in drinks", ng-class="{ 'emerald-bg' : $index%2==0, 'nephritis-bg' : $index%2==1}")
    span {{drink.name}}
    span.pull-right {{drink.quantity}} &times; {{drink.price | currency : '£'}} 
  header.bill-item.hero-unit
    span Total Bill:
    span.pull-right {{price | currency : '£'}}
  header.bill-item.hero-unit.yellow-hero
    span Total Spend Tonight:
    span.pull-right {{user.summary.moneySpent | currency : '£'}}

  header.hero-unit.red-hero.sticky-bottom(ng-click="togglePayCodeVisibility()")
    | {{payCodeVisible ? 'Hide' : 'Show'}} Pay Code

.col-md-12(ng-show="missingIdError")
  p WTF man missing id parameter in the url
