.pay-code-wrapper {
  text-align: center;
  .pay-code {
    margin-bottom: 40px;
  }
}

.bill-item {
  text-align: left;
  padding: 15px 15px;
  font-size: 20px;
}


.emerald-bg {
  background-color: #2ecc71;
}

.nephritis-bg {
  background-color: #27ae60;
}