// multipage view styles

.logo-wrapper {
  height: 50px;
  .logo {
    max-height: 50px;
    max-width: 70px;
  }
}

// single page view styles

.singlePlaceView {
  overflow: hidden;
}

.place-masthead {
  // center the image hack
  text-align: center;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}