div(ng-include='"components/navbar/navbar.html"')

.multiPlaceView(ng-hide="singlePlaceView")
  a(ng-repeat="place in places", href="places?placeId={{place._id}}")
    header#banner.hero-unit(ng-class="{ 'purple-hero' : $index%6==0, 'turqouise-hero' : $index%6==1, 'red-hero' : $index%6==2, 'yellow-hero' : $index%6==3, 'green-hero' : $index%6==4, 'blue-hero' : $index%6==5}")
      .container
        //h2.list-main {{place.name}}
        .col-xs-3
          //h4 Units 
          //span.list-metric {{place.drinks}}
        .col-xs-6 
          img(ng-src="{{place.logo}}").place-logo
        .col-xs-3
          //h4 Pace
          //span.list-metric 5

.col-md-12.singlePlaceView(ng-show="singlePlaceView")
  .row.place-masthead
    img(ng-src="{{place.logo}}", title="{{place.name}} logo", alt="{{place.name}}")
  menu(drinks="{{drinks}}", style="padding-left: 0px;")
  header.hero-unit.red-hero.sticky-bottom(ng-click="sendPurchase($event)", style="left: 0;")
    | Continue   