.good-quest {
	background-color: #2ecc71;
}

.bad-quest {
	background-color: #e74c3c;
}

.quest-units, .quest-pace {
	font-size: 40px;	
}

.quest-date {
	margin-top: 0px !important;
}

.quest-feels {
	margin-top: 16px;
}