div(ng-include='"components/navbar/navbar.html"')


header#banner.hero-unit.good-quest
  .container
    h2.quest-date Friday 7 November
    .col-xs-4
      h4 Units 
      span.quest-units 21
    .col-xs-4 
      img(src="http://twemoji.maxcdn.com/72x72/1f600.png").quest-feels
    .col-xs-4
      h4 Pace
      span.quest-pace 5
    

header#banner.hero-unit.bad-quest
  .container
    h2.quest-date Saturday 1 November
    .col-xs-4
      h4 Units
      span.quest-units 40
    .col-xs-4 
      img(src="http://twemoji.maxcdn.com/72x72/1f632.png").quest-feels
    .col-xs-4
      h4 Pace
      span.quest-pace 8

header#banner.hero-unit.good-quest
  .container
    h2.quest-date Friday October 31
    .col-xs-4
      h4 Units
      span.quest-units 12
    .col-xs-4 
      img(src="http://twemoji.maxcdn.com/72x72/1f600.png").quest-feels
    .col-xs-4
      h4 Pace
      span.quest-pace 3
